.App {
  width: fit-content;
  border: 1mm solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}

.btn {
  height: 60px;
  width: 60px;
}

.b {
  height: 120px;
  width: 60px;
}

.bb {
  height: 180px;
  width: 60px;
}

#display {
  height: 5vh;
  border-bottom: 1mm solid black;

}

.buttons {
  display: flex;
  flex-direction: row;
}

.slimm-col {
  display: flex;
  flex-direction: column;
}